@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'MaplestoryOTFBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.logo{
    width: 90px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
body,html{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
    width: 100%;
}
h1{
    color: #fff;
    margin-left: 20px;
}
a{
    text-decoration: none;
}
body{
    background-color: #f3ae5f;
}
/*로고랑 카테고리들*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav ul{
    list-style-type:none;
    padding: 0;
    margin: 0;
    display: flex;
    font-size: 120%;
}
nav li{
    margin-right: 50px;
    transition: transform 0.3s;
}
nav li:hover {
    transform: scale(1.2);
}
nav a{
    text-decoration: none;
    color: #fff;
}
/*세부 카테고리*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(73, 73, 73, 0.114);
    z-index: 1;
    align-items: center;
}

.dropdown:hover .dropdown-content {
    display: block;
    margin-top: 10px;

}

.dropdown-content a {
    color: rgb(95, 95, 95);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}
@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
h1:nth-child(2){
    text-align: left;
    margin-top: 80px;
    margin-bottom: 60px;
    margin-left: 90px;
    opacity: 0;
    animation: fade-in 3s ease forwards;
    font-size: 30px;
    font-family: "Pretendard-Regular";
}
.container {
    margin-left: 80px;
    margin-bottom: 100px;
    width: 480px;
    height: 350px;
    background-color: rgba(255, 255, 255, 0.281);
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    border-radius: 30px; /* 박스의 모서리를 둥글게 설정 */
    overflow: hidden; /* 이미지가 모서리를 벗어나지 않도록 설정 */
    box-shadow: 0px 4px 8px #8b5a6215;
    animation: fade-in 3s ease forwards;
    order: 1;
    margin-right: auto;
}

.retro{
    width: 400px; /* 카레 이미지의 가로 크기 */
    border-radius: 30px; /* 이미지의 모서리를 둥글게 설정 */
    animation: fade-in 3s ease forwards;
}
.retro-text{
    margin-top: -80px;
    margin-right: 140px;
    line-height: 200%;
    color: white;
    animation: fade-in 3.5s ease forwards;
    order: 2;
    margin-left: auto;
    text-align: left;
    font-family: "Pretendard-Regular";
    font-size: 17px;

}
.con{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
.rcar{
    width:500px;
    margin-left: 450px;
}
