@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'MaplestoryOTFBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.logo{
    width: 90px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
body,html{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
    width: 100%;
}
h1{
    color: #fff;
    margin-left: 20px;
    
}
a{
    text-decoration: none;
}
body{
    background-color: #ffc0cb;
}
/*로고랑 카테고리들*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav ul{
    list-style-type:none;
    padding: 0;
    margin: 0;
    display: flex;
    font-size: 120%;
}
nav li{
    margin-right: 50px;
    transition: transform 0.3s;
}
nav li:hover {
    transform: scale(1.2);
}
nav a{
    text-decoration: none;
    color: #fff;
}
/*세부 카테고리*/

.dropdown-content a {
    color: rgb(95, 95, 95);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.text{
    color: #fff;
    margin-top: -100px;
    margin-left: 20px;
}
@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-20);
    }
    to {
        opacity: 2;
        transform: translateY(0);
    }
}
h3{
    font-size: 250%;
    margin-top: 150px;
    margin-left: 20px;
    font-family: "Pretendard-Regular";
}
/*글자들*/
h4{
    font-size: 200%;
    margin-left: 20px;
    font-family: "Pretendard-Regular";
}
h3,h4{
    opacity: 0;
    animation: fade-in 3s ease forwards;
    z-index: 2;
}
/*지도와 아이콘*/
.japan map{
    position: relative;
}
.map img{
    max-width: 100%;
    max-height: 100%;
    height:auto;
    width: auto;
}
.map{
    position: relative;
    width: 70%;
    float: right;
    margin-right:40px;
    padding-bottom: 20px;
    z-index: 0;
    top: -100px;
}
.icon1{
    position: absolute;
    top: 970px;
    left: 238px;
    height: 160px;
    z-index: 2;
    transition: transform 0.3s;
}
.icon1:hover{
    transform: scale(1.2); 
}
.icon2{
    position: absolute;
    top: 780px;
    left: 298px;
    height: 150px;
    z-index: 1;
    transition: transform 0.3s;
}
.icon2:hover{
    transform: scale(1.2);
}
.icon3{
    position: absolute;
    top: 860px;
    left: 540px;
    height: 105px;
    z-index: 1;
    transition: transform 0.3s;
}
.icon3:hover{
    transform: scale(1.2);
    
}
.icon4{
    position: absolute;
    top: 700px;
    left: 448px;
    height: 70px;
    z-index: 1;
    transition: transform 0.3s;
}
.icon4:hover{
    transform: scale(1.2);
}
.icon5{
    position: absolute;
    top: 590px;
    left: 640px;
    height: 160px;
    z-index: 1;
    transition: transform 0.3s;
}
.icon5:hover{
    transform: scale(1.2);
}
.icon6{
    position: absolute;
    top: 850px;
    left: 775px;
    height: 90px;
    z-index: 1;
    transition: transform 0.3s;
}
.icon6:hover{
    transform: scale(1.2);
}
.icon7{
    position: absolute;
    top: 700px;
    left: 800px;
    height: 100px;
    z-index: 1;
    transition: transform 0.3s;
}
.icon7:hover{
    transform: scale(1.2);
}
.icon8{
    position: absolute;
    top: 535px;
    left: 900px;
    height: 150px;
    z-index: 1;
    transition: transform 0.3s;
}
.icon8:hover{
    transform: scale(1.2);
}
@keyframes fadeIn {
    from {
        opacity: 0; /* 시작 시 투명도를 0으로 설정 */
    }
    to {
        opacity: 2; /* 끝나는 시점에 투명도를 1로 설정 */
    }
}

.map,.icon1, .icon2, .icon3, .icon4, .icon5, .icon6, .icon7, .icon8 {

    z-index: 1;
    opacity: 0; /* 처음에는 투명하게 설정 */
    animation: fadeIn 3s ease forwards; /* fadeIn 애니메이션 적용 */
 
}

.icon1:hover, .icon2:hover, .icon3:hover, .icon4:hover, .icon5:hover, .icon6:hover, .icon7:hover, .icon8:hover {
    transform: scale(1.2);
}

/*구름 키프레임*/
@keyframes slide-in-left {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.cloud1 {
    position: absolute;
    top: 985px;
    left: 950px;
    height: 100px;
    z-index: 1;
    animation: slide-in-left 3s ease forwards;
}
.cloud2 {
    position: absolute;
    top: 540px;
    left: 400px;
    height: 110px;
    z-index: 1;
    animation: slide-in-left 3s ease forwards;
}
.cloud3 {
    position: absolute;
    top: 330px;
    left: 900px;
    height: 80px;
    z-index: 1;
    animation: slide-in-right 3s ease forwards;
}
.cloud4 {
    position: absolute;
    top: 675px;
    left: 1200px;
    height: 70px;
    z-index: 1;
    animation: slide-in-right 3s ease forwards;
}
.under {
    position: absolute;
    top: 940px;
    left: 200px;
    height: 160px;
    z-index: 1;
    animation: fade-in 3s ease forwards;
}
.top {
    position: absolute;
    top: 410px;
    left: 480px;
    height: 90px;
    z-index: 1;
    animation: fade-in 3s ease forwards;
}
.right{
    position: absolute;
    top: 615px;
    left: 1200px;
    height: 400px;
    z-index: 1;
    animation: fade-in 3s ease forwards;
}
.left{
    position: absolute;
    top: 615px;
    left: 110px;
    height: 160px;
    z-index: 1;
    animation: fade-in 3s ease forwards;
}
